/* App.css */


body{
  overflow: auto;
  width: 100%;
  height: 130vh;
  background: linear-gradient(45deg,#c9def4, #d7c1e8, #f5ccd4, #e6b3b3, #b8a4c9);
  background-size: 300% 300%;
  animation: gradient 15s ease-in-out infinite;
  
}

.contact-form {
  position:relative;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 2px 2px;
  border-radius: 20px;
  backdrop-filter: blur(30px);
  z-index: 1;
  top: -500px;
  width: 500px;
  height: 500px;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.nametxt {
  position: relative;
  width: 100%;
  height: 100%;
  color: black;          /* Text color */
  font-size: 35px;      /* Font size */
  font-family: "Source Code Pro", monospace;  
  font-weight: 100;     /* Light font weight */
  word-wrap: break-word; /* Break long words */
  top: -3px;
  left: 9.5px;
  right: 1137px;
}


.opener{
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 10px;
  font-family: 'system-ui';
  font-size: 330%;
  color: #242b4b;
  font-weight:150;
  margin: 40px;
  margin-bottom: 40px;
  word-break: normal;
 
}



@media (min-width: 800px) and (max-width: 1444px) {
   .openingP {
    font-size: 16px;
  }
}



.openingP{ 
  box-shadow: 2px 2px;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 10px;
 background: rgba(255, 255, 255, 0.2);
  background-size: 300% 300%;
  color: #242b4b;
  font-family: 'Merriweather',serif;
  max-width: 650px; /* Limits the width so it doesn't stretch too much */
  line-height: 1.5; /* Improves readability */
  margin-top: 16px;
  margin-bottom: 20px;
  font-size: 110%;
  font-weight: 300;
  display: flex;
  transition: all 0.3s ease-in-out; /* Adds smooth transitions for any changes */
  word-wrap: break-word;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}


@media (min-width: 1200px) {
  .container{
    max-width: 970px;
    /* Centering everthing in the container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12.5px;
    border-radius: 10px;
    
    
}



}





